@import "function";

$green: #2eb82e;
$red: #ff1a1a;

table.dataTable{
  width: 100%;
  margin: 20px 0!important;
}
.icheckbox_minimal-red, .iradio_minimal-red{
  background-color: #ffffff;
}
.nav-tabs-custom>.nav-tabs.pull-right{
  border-top: 1px solid #eee;
}
.project-url{
  .edit-url{
    display: inline-block;
    .edit-a{
      display: none;
    }
    .edit-input{
      display: none;
    }
    .active{
      display: inline-block;
    }
  }
}
.load-imgs .col-md-4{
  height: 250px;
  margin-bottom: 10px;
  .load-img{
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
  }
}
.load-image-container{

  .load-img{
    display: inline-block;
    @include background-size(auto);
    background-repeat: no-repeat;
    background-position: center;


    margin-bottom: 10px;
    border: 1px solid #dddddd;
    ~ .image_delete{
      display: none;
    }
    &.active{
      position: relative;
      .delete-image{
        display: inline-block;
        width: 20px;
        height: 20px;
        @include border-radius(50%);
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #dd4b39;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        &:hover{
          background-color: #d73925;
        }
        &:active{
          background-color: #ac2925;
        }
      }
      ~ .image_delete{
        display: inline-block;
      }
    }
  }
}
.load-image-container.avatar{
  width: 250px;
  .load-img{
    height: 200px;
    width: 200px;
    @include border-radius(50%);
  }
}
.project-img{
  width: 100%;
  .load-img{
    width: 100%;
    height: 250px;
    border: 1px #eeeeee solid;
  }
}
.pass_gen{
  padding-top: 10px;
  .password_gen_view{
    display: inline-block;
    color: $green;
    font-size: 18px;
    padding-top: 5px;
    margin-left: 10px;
  }
}

.question-item{
  margin-bottom: 10px;
  .question-header{
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    background-color: #00a65a;
    color: #fff;
    cursor: pointer;
    .drag-zone{
      cursor: move;
      display: inline-block;
      padding: 3px 10px;
      background-color: #333333;
      color: #ffffff;
    }
  }
  .question-body{
    padding: 10px;
    border: 1px solid  #d2d6de;
    background-color: #ffffff;
  }
  .fa-chevron-up{
    display: none;
  }
  &.active{
    .fa-chevron-down{
      display: none;
    }
    .fa-chevron-up{
      display: inline;
    }
  }
}
.question-title{
  color: #ffffff;
}

.question-type{
  display: block;
  color: #ffffff;
  background-color: #333333;
  padding: 5px;
}
.add-zone{
  display: block;
  color: #000;
  border: 1px solid  #d2d6de;
  background-color: #eeeeee;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  cursor: pointer;
  &:hover{
    background-color: #d2d6de;
  }

}

.hide{
  display: none;
}

.child-consructor{
  display: none;
  .form-child-item{
    margin-bottom: 10px;
    @include after-clear();
  }
  &.active{
    display: block;
    border: 1px solid  #d2d6de;
    padding: 30px;
    .child-contructor-title{
      font-size: 18px;
      margin-bottom: 15px;
    }
    .form-group{
      margin-bottom: 10px;
    }
  }
  #add-varrible{
    margin-right: 20px;
  }
  .child-other{
    vertical-align: middle;
    margin-bottom: 0;
  }
}
.select2-container{
  width: 100%!important;
}
.input-error{
  border: 1px dashed $red!important;
}
.error, .input-request{
  color: $red;
}
.error{
  font-size: 12px;
}

.item-sort{
  cursor: move;
  background-color: #eee;
  padding: 10px;
}
.list-questions{
  //margin: 0 30px;
  .item-sort{
    margin-bottom: 10px;
    .question-name{
      padding: 6px 12px;
    }
  }
}

/* Filters */

.filter-item{
  margin-bottom: 10px;
  .filter-name{
    font-size: 18px;
    font-weight: 700;
    background-color: #00a65a;
    color: #fff;
    padding: 5px;
    padding-right: 30px;
    position: relative;
    cursor: pointer;
    &:after{
      position: absolute;
      right: 15px;
      top: 10px;
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f078";
    }
    &.active{
      &:after{
        content: "\f077";
      }
    }
  }
  .filter-options{
    display: none;
    padding: 5px;
    .filter-option-item{
      margin-bottom: 5px;
    }
    label{
      font-weight: 400;
    }
  }
}

.bootstrap-tagsinput{
  width: 100%;
  @include border-radius(0);
}

